
.content-faq {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 50px;
    margin-bottom: 100px;
}

.content-faq .left-faq h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: normal;
    width: 150px;
    color: #595959;
    text-transform: uppercase;
    border-bottom:  1px solid rgba(168, 168, 168, 0.5);
    padding: 5px;
}


.content-faq .right-faq h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 17px;
}

.content-faq .right-faq p {
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: normal;
}

.content-faq .right-faq {
    width: 100%;
}


.content-faq .left-faq {
    width: 100%;
}
